@using GruppProjekt_Grupp16_CV.ModelHelper;
@model ProjectViewModel;

<link rel="stylesheet" href="~/css/project.css">

<h3>Lista över projekt</h3>
<div id="projectList">

    @foreach (var project in Model.projects)
    {
        <div class="project">
            <h4>@project.Title</h4>
            <p>@project.Description</p>
            <p>@project.LatestUpdate</p>
            <h6>Deltagande användare:</h6>
            <ul>
                <li>@project.CreatorObject.UserName</li>
                @foreach (var user in project.UserProject)
                {

                    if (User.Identity.IsAuthenticated)
                    {
                        <li>@user.UserObject.UserName</li>
                    }
                    else if (@user.UserObject.StatusId == 2)
                    {
                        <li>@user.UserObject.UserName</li>
                    }

                }
            </ul>
        </div>
        <hr />
    }
</div>
