@using GruppProjekt_Grupp16_CV.ModelHelper;
@model ProjectViewModel;

<link rel="stylesheet" href="~/css/project.css">

<h1>Lista över projekt</h1>
<div id="projectList">

    @foreach (var project in Model.projects)
    {
        <div class="project">
            <h2>@project.Title</h2>
            <p>@project.Description</p>
            <p>@project.LatestUpdate</p>
            <h3>Deltagande användare:</h3>
            <ul>
                @foreach (var user in Model.users)
                {

                    if (User.Identity.IsAuthenticated)
                    {
                        <li>@user.UserName</li>
                    }
                    else if (user.StatusId == 2)
                    {
                        <li>@user.UserName</li>
                    }

                }
            </ul>
        </div>
    }
</div>
