@using GruppProjekt_Grupp16_CV.ModelHelper;
@model MessageViewModel;


<h3>Oläst</h3>
<form asp-controller="Messages" asp-action="MessageActionUnread" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-4">
                <input type="submit" class="btn btn-primary" value="Markera som läst" />
            </div>
            <div class="col-md-3 col-4">
                <input type="submit" class="btn btn-primary" value="Släng i soptunnan" />
            </div>
        </div>
        <hr />
        @if (Model.unreadMessages.Count() == 0)
        {
            <p>Verkar som att du har läst allt!</p>
        }

        <div class="row centered">
            @foreach(var unreadMessage in Model.unreadMessages)
            {
                <div col-12 col-md-8>
                    <a class="row" asp-controller="Messages" asp-action="MessageOpen" asp-route-id="@unreadMessage.Id">
                        <h5>@unreadMessage.Title</h5>
                        @{
                            var Userfrom = unreadMessage.MessageBoxes[0].SentUserObject.UserName;
                            var UsersTo = string.Join(", ", (
                                from messageBox in unreadMessage.MessageBoxes
                                select messageBox.RecievedUserObject.UserName
                            ).ToList());

                            <small>Från: @Userfrom</small>
                            <small>Till: @UsersTo</small>
                        }

                    </a>
                    <input type="checkbox" />
                </div>
                <hr />
            }
        </div>
    </div>
</form>

<h3>Läst</h3>
<form asp-controller="Messages" asp-action="MessageActionRead" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-4">
                <input type="submit" class="btn btn-primary" value="Markera som oläst" />
            </div>
            <div class="col-md-3 col-4">
                <input type="submit" class="btn btn-primary" value="Släng i soptunnan" />
            </div>
        </div>
        <hr />
        @if (Model.readMessages.Count() == 0)
        {
            <p>Inga lästa meddelanden!</p>
        }

        <div class="row centered">
            @foreach (var readMessage in Model.readMessages)
            {
                <div col-12 col-md-8>
                    <a class="row" asp-controller="Messages" asp-action="MessageOpen" asp-route-id="@readMessage.Id">
                        <h5>@readMessage.Title</h5>
                        @{
                            var Userfrom = readMessage.MessageBoxes[0].SentUserObject.UserName;
                            var UsersTo = string.Join(", ", (
                                from messageBox in readMessage.MessageBoxes
                                select messageBox.RecievedUserObject.UserName
                            ).ToList());

                            <small>Från: @Userfrom</small>
                            <small>Till: @UsersTo</small>
                        }
                    </a>
                    <input type="checkbox" />
                </div>
                <hr />
            }
        </div>
    </div>
</form>