@using GruppProjekt_Grupp16_CV.ModelHelper;
@model AddProjectModelView;

<form asp-action="Edit" asp-controller="Project" method="post" asp-route-id="@Model.currentProject.Id">
	<div asp-validation-summary="All" class="text-danger"></div>
	<input type="hidden" name="id" value="@Model.currentProject.Id" />
	<div class="row form-group space">
		<div class="col-12 col-lg-3">
			<label>Titel:</label>
		</div>
		<div class="col-12 col-lg-9">
			<input class="form-control" asp-for="@Model.validate.Title" value="@Model.currentProject.Title" />
		</div>
	</div>
	<div class="row form-group space">
		<div class="col-12 col-lg-3">
			<label>Beskrivning:</label>
		</div>
		<div class="col-12 col-lg-9">
			<textarea class="form-control" asp-for="@Model.validate.Description">
				@Model.currentProject.Description
			</textarea>
		</div>
	</div>
	<div class="row form-group space">
		<div class="col-12 col-lg-3">
			<input type="submit" class="btn btn-primary form-control" value="Spara" />
		</div>
	</div>
</form>