@using GruppProjekt_Grupp16_CV.ModelHelper;
@model ProjectCreateViewModel;

<link rel="stylesheet" href="~/css/projectCreate.css" asp-append-version="true" />

<div class="container centred">
	<div class="row space">
		<div class="col-lg-6 col-12">
			<h2>Skapa project</h2>
			<form asp-action="CreateProject" asp-controller="Create" method="post">
				<div class="row form-group space">
					<div class="col-12 col-lg-3">
						<label>Titel:</label>
					</div>
					<div class="col-12 col-lg-9">
						<input class="form-control" asp-for="@Model.projectValidate.Title" />
					</div>
				</div>
				<div class="row form-group space">
					<div class="col-12 col-lg-3">
						<label>Titel:</label>
					</div>
					<div class="col-12 col-lg-9">
						<textarea class="form-control" asp-for="@Model.projectValidate.Description"></textarea>
					</div>
				</div>
				<div class="row form-group space">
					<div class="col-12 col-lg-3">
						<input type="submit" class="btn btn-primary form-control" value="Skapa" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr />
	<div class="row space">
		<div class="col-lg-6 col-12">
			<h2>Dina project</h2>
			@if (Model.userProjects.Count == 0)
			{
				<span>Du har inte skapat några project!</span>
			}
			@foreach(var userProject in Model.userProjects)
			{
				<form asp-action="CreateProject" asp-controller="Edit" method="post">
					<div class="row form-group space">
						<input type="hidden" name="id" value="@userProject.Id" />
>						<div class="col-12 col-lg-3">
							<label>Titel:</label>
						</div>
						<div class="col-12 col-lg-9">
							<input class="form-control" asp-for="@Model.projectValidate.Title" value="@userProject.Title" />
						</div>
					</div>
					<div class="row form-group space">
						<div class="col-12 col-lg-3">
							<label>Titel:</label>
						</div>
						<div class="col-12 col-lg-9">
							<textarea class="form-control" asp-for="@Model.projectValidate.Description" value="@userProject.Description"></textarea>
						</div>
					</div>
					<div class="row form-group space">
						<div class="col-12 col-lg-3">
							<input type="submit" class="btn btn-primary form-control" value="Spara" />
						</div>
					</div>
				</form>
			}
		</div>
	</div>
	<hr />
	<div class="row space">
		<div class="col-lg-6 col-12">
			<h2>Gå med project</h2>
			@if (Model.excludedUserProjects.Count == 0)
			{
				<span>Du har inte skapat några project!</span>
			}
			@foreach ((var userProject, var i) in Model.excludedUserProjects.Select((item, i) => (item, i)))
			{
				<form asp-action="CreateProject" asp-controller="Edit" method="post">
					<div class="row">
						<input type="hidden" name="id" value="@userProject.Id" />
						<div class="col-10">
							<h3>@userProject.Title</h3>
							@{
								string collab = string.Join(", ", (
									from userCollab in userProject.UserProject
									select userCollab.UserObject.UserName
								).ToList());

								<h5><b>medarbetare: @collab</b></h5>
							}
							<p>@userProject.Description</p>
						</div>
						<div class="col-2">
							<input type="submit" value="Gå med" class="btn btn-primary" />
						</div>
					</div>
				</form>
			}
		</div>
	</div>
</div>