@using GruppProjekt_Grupp16_CV.Models;
@using GruppProjekt_Grupp16_CV.ModelHelper;
@using Models;
@model ProfileViewModel;

@{
	ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-12">
			<img src="@Model.LoggedInUser.ProfilePicture"/>
			<h2>Hej @Model.LoggedInUser.UserName!</h2>
			<div asp-validation-summary="All" class="text-danger"></div>
			<form asp-controller="Account" asp-action="UpdateUser" method="post" enctype="multipart/form-data">
				<div class="form-group row space">
					<div class="col-4">
						<label>Namn:</label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.UserName" class="form-control" value="@Model.LoggedInUser.UserName" />
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Telefonnummer:</label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.PhoneNumber" class="form-control" value="@Model.LoggedInUser.PhoneNumber" />
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Adress</label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.Adress" class="form-control" value="@Model.LoggedInUser.Adress" />
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Profilbild URL:</label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.ProfilePicture" class="form-control" value="@Model.LoggedInUser.ProfilePicture"/>
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Email:</label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.Email" class="form-control" value="@Model.LoggedInUser.Email"/>
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Bekräfta Email:</label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.ConfirmEmail" class="form-control" value="@Model.LoggedInUser.Email"/>
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Lösenord: </label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.Password" class="form-control"/>
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Bekräfta Lösenord: </label>
					</div>
					<div class="col-sm-6">
						<input asp-for="Validate.ConfirmPassword" class="form-control"/>
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-4">
						<label>Offentlig: </label>
					</div>
					<div class="col-6">
						<input asp-for="Validate.Status" type="checkbox" checked="@(Model.LoggedInUser.StatusId == 2 ? "checked" : "")" />		
					</div>
				</div>
				<div class="form-group row space">
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary">Updatera konto</button>
					</div>
				</div>
			</form>
			<div class="col-sm-6">
				<form method="post" asp-action="LogOut" asp-controller="Account">
					<button type="submit" class="btn btn-danger">Logga ut</button>
				</form>
			</div>
			<div class="col-sm-6 space">
				<form method="post" asp-action="Deactivate" asp-controller="Account">
					<button type="submit" class="btn btn-danger">Deaktivera konto</button>
				</form>
			</div>
		</div>
		<div class="col-lg-6 col-12 other-box">
			<h2 class="space">Du kan även...</h2>
			<ul class="space">
				<li class="col-12">
					<a class="space" asp-controller="Create" asp-action="Project">
						Hantera Project
					</a>
				</li>
				<li class="col-12">
					<a class="space" asp-controller="Create" asp-action="Education">
						Hantera Utbildning & Erfarenhet
					</a>
				</li>
				<li class="col-12">
					<a class="space" asp-controller="Messages" asp-action="SendMessage">
						Skicka Meddelande
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>